# compiled output
/dist
/node_modules

# Prisma generated client (default location is node_modules, already ignored)

# env
.env
.env.local
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Test coverage
/coverage

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Webpack
/.webpack

# Misc
*.tgz
*.tsbuildinfo

/src/generated/

*.html